/* ======= Basic ======= */
body {
  font-family: 'poligon-regular';
}

a,
button {
  text-decoration: none !important;
}

button:focus {
  outline: none !important;
}

/* ======= Fonts ======= */
@font-face {
  font-family: 'poligon-regular';
  src: url("../fonts/Poligon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.poligon-regular {
  font-family: "poligon-regular";
}

@font-face {
  font-family: 'poligon-bold';
  src: url("../fonts/Poligon-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.poligon-bold {
  font-family: "poligon-bold";
}

@font-face {
  font-family: 'poligon-medium';
  src: url("../fonts/Poligon-Medium.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.poligon-medium {
  font-family: "poligon-medium";
}

@font-face {
  font-family: 'euclid-circular-bold';
  src: url("../fonts/EuclidCircularA-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.euclid-circular-bold {
  font-family: "euclid-circular-bold";
}

@font-face {
  font-family: 'euclid-circular-regular';
  src: url("../fonts/EuclidCircularA-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.euclid-circular-regular {
  font-family: "euclid-circular-regular";
}

.bebas-regular {
  font-family: 'Bebas Neue', cursive;
}

/* ======= Reuseable ======= */
.navbar-space {
  padding: 50px 0;
}

.heading {
  font-size: 40px;
  font-family: "poligon-bold";
  color: #142339;
}

.big-heading {
  font-size: 50px;
  font-family: "poligon-bold";
  color: #142339;
}

.para-text {
  font-size: 18px;
  color: #142339;
}

.big-para-text {
  font-size: 22px;
}

.card-heading {
  font-family: "poligon-bold";
  font-size: 24px;
}

.button {
  font-size: 18px;
  padding: 12px 30px;
  border-radius: 237px;
}

.button.button-gradient {
  color: #ffffff;
  background: transparent linear-gradient(108deg, #00aff0 0%, #0070f0 100%) 0% 0% no-repeat padding-box;
  position: relative;
}

.button.button-gradient::after {
  position: absolute;
  content: '';
  width: 80%;
  margin: auto;
  height: 15px;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: transparent linear-gradient(108deg, #00aff0 0%, #0070f0 100%) 0% 0% no-repeat padding-box;
  filter: blur(10px);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  z-index: -1;
  -webkit-filter: blur(10px);
}

.button.button-gradient:hover::after {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

/* ======= Header Section ======= */
#header-section .navbar .nav-item {
  margin: 0 10px;
}

#header-section .navbar .nav-item:first-child {
  margin-left: 0;
}

#header-section .navbar .nav-item:last-child {
  margin-right: 0;
}

#header-section .navbar .nav-item .nav-link {
  font-size: 18px !important;
  color: #142339;
}

#header-section .navbar .nav-item .nav-link.active {
  font-family: "poligon-bold";
}

#header-section .navbar .nav-item .nav-link.button {
  color: #ffffff;
  padding: 10px 30px !important;
}

#header-section .navbar.sticky-nav {
  -webkit-box-shadow: 8px 13px 23px #0000001a;
          box-shadow: 8px 13px 23px #0000001a;
  padding: 20px 0 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

/* ======= Contact PopUp ======= */
#pop-up-contact .modal-content {
  position: relative;
}

#pop-up-contact .modal-content .btn-close {
  position: absolute;
  right: -15px;
  top: -15px;
  background-color: #ffffff;
  opacity: 1 !important;
  border-radius: 50%;
  padding: 8px;
  z-index: 9999;
  -webkit-box-shadow: 0 0 10px #14233952;
          box-shadow: 0 0 10px #14233952;
}

#pop-up-contact .modal-content .btn-close:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#pop-up-contact .modal-content .modal-body {
  padding: 30px !important;
}

#pop-up-contact .modal-content .modal-body form input,
#pop-up-contact .modal-content .modal-body form textarea {
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 10px 20px;
}

#pop-up-contact .modal-content .modal-body form input:focus,
#pop-up-contact .modal-content .modal-body form textarea:focus {
  outline: none !important;
}

#pop-up-contact .modal-content .modal-body form textarea {
  height: 100px;
}

#pop-up-contact .modal-content .modal-body form button {
  border-radius: 8px;
}

/* ======= Banner Section ======= */
#banner-section {
  padding: 30px 0;
}

#banner-section .left-side .big-heading {
  font-family: "poligon-medium";
}

/* ======= Pricing Section ======= */
#pricing-section {
  padding: 100px 0;
  background-color: #f9f9f9;
}

#pricing-section .right-side .pricing-card {
  -webkit-box-shadow: 8px 13px 23px #0000001a;
          box-shadow: 8px 13px 23px #0000001a;
  border-radius: 12px;
}

#pricing-section .right-side .pricing-card .card-body {
  padding: 20px !important;
}

#pricing-section .right-side .pricing-card .card-features {
  border-top: 1px solid #929aa4;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

#pricing-section .right-side .pricing-card .card-features .media svg {
  width: 24px;
  fill: #142339;
}

#pricing-section .right-side .pricing-card .card-button-box .button {
  border-radius: 8px;
}

/* ======= Solution Section ======= */
#solution-section {
  padding: 100px 0;
}

#solution-section .section-title .heading {
  font-family: "poligon-medium";
}

#solution-section .solution-cards .solution-card {
  height: 100%;
}

#solution-section .solution-cards .solution-card:hover {
  -webkit-box-shadow: 0px 26px 30px #0000000f;
          box-shadow: 0px 26px 30px #0000000f;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#solution-section .solution-cards .solution-card:hover a {
  color: #00aff0;
}

#solution-section .solution-cards .solution-card .card-body {
  padding: 20px !important;
}

#solution-section .solution-cards .solution-card .card-body .card-heading {
  font-family: "euclid-circular-bold";
}

#solution-section .solution-cards .solution-card .card-body .card-text {
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  color: #72788e;
}

#solution-section .solution-cards .solution-card .card-body a {
  font-family: "euclid-circular-regular";
}

/* ======= Compliance Section ======= */
#compliance-section {
  padding: 100px 0 200px 0;
  background-color: #f9f9f9;
}

#compliance-section .right-side p a {
  color: #142339;
}

#compliance-section .right-side p a:hover {
  text-decoration: underline !important;
}

/* ======= Info Section ======= */
#info-section {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

#info-section .bg {
  background-color: #0094f0;
  padding: 70px 50px 50px 50px;
  border-radius: 30px;
  background-image: url("../img/info-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#info-section .bg .info-heading {
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
}

/* ======= Contact Section ======= */
#contact-section {
  padding-bottom: 100px;
}

#contact-section .right-side form .solution-radio-box .solution-radio {
  margin: 5px 5px 5px 0;
  border: 1px solid #eeeeee;
  border-radius: 8px;
}

#contact-section .right-side form .solution-radio-box .solution-radio label {
  padding: 10px 0;
  margin-right: 10px;
}

#contact-section .right-side form .solution-radio-box .solution-radio input {
  margin-left: 10px;
}

#contact-section .right-side form .solution-radio-box .solution-radio input,
#contact-section .right-side form .solution-radio-box .solution-radio label,
#contact-section .right-side form .solution-radio-box .solution-radio img {
  cursor: pointer !important;
}

#contact-section .right-side form .solution-radio-box .solution-radio.selected {
  border-color: #00aff0;
}

#contact-section .right-side form .send-message input,
#contact-section .right-side form .send-message textarea {
  border: 0;
  -webkit-box-shadow: 0px 3px 10px #00000012;
          box-shadow: 0px 3px 10px #00000012;
  border-radius: 8px;
  padding: 10px 20px;
}

#contact-section .right-side form .send-message input:focus,
#contact-section .right-side form .send-message textarea:focus {
  outline: none !important;
}

#contact-section .right-side form .send-message textarea {
  height: 100px;
}

#contact-section .right-side form .submit-button-box .button {
  border-radius: 8px;
}

/* ======= Subscribe Section ======= */
#subscribe-section {
  background-color: #243847;
  padding: 50px 0 30px 0;
}

#subscribe-section .subscribe-heading {
  color: #00aff0;
  font-size: 30px;
  font-family: "poligon-bold";
}

#subscribe-section .subscribe-form input {
  color: #ffffff;
  background: #364c5b 0% 0% no-repeat padding-box;
  font-size: 18px;
  padding: 12px 30px;
  border-radius: 237px;
  border: 0;
}

#subscribe-section .subscribe-form input:focus {
  outline: none !important;
}

/* ======= Footer Section ======= */
footer {
  background-color: #243847;
}

footer .footer-widget {
  padding: 50px 0 70px 0;
}

footer .footer-widget .footer-social-icon i {
  font-size: 15px;
  border: 1px solid #ffffff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer-widget .footer-social-icon i:nth-child(1) {
  margin-left: 0;
}

footer .footer-widget .footer-social-icon i:hover {
  background-color: #ffffff;
  color: #243847;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer .footer-widget .foter-sub-heading {
  font-size: 24px;
  font-family: "poligon-bold";
  color: #00aff0;
}

footer .footer-widget .footer-links a {
  font-size: 18px;
  color: #c8cdd1;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

footer .footer-widget .footer-links a:hover {
  text-decoration: underline !important;
}

footer .footer-copyright {
  border-top: 1px solid #ffffff;
}

footer .footer-copyright p,
footer .footer-copyright a {
  color: #c8cdd1;
}
/*# sourceMappingURL=style.css.map */